#amis-moeditor header h1 {
  padding: 1em;
  text-transform: capitalize;
  font-size: 1em;
  text-align: center;
  border-bottom: 1px solid hsl(200, 50%, 80%);
}

#amis-moeditor .fields {
  background-color: hsl(50, 50%, 92.5%);
  padding: 1em;
}

#amis-moeditor .grid {
  display: grid;
  column-gap: 1em;
  row-gap: 0.5em;
}

#amis-moeditor .field {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

#amis-moeditor .required {
  position: relative;
}

#amis-moeditor .required:after {
  content: '*';
  color: hsl(0, 75%, 50%);
  position: absolute;
  right: -1em;
  top: calc(50% - 0.5em);
}

#amis-moeditor #word {
  grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 768px) {
  #amis-moeditor #word {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  #amis-moeditor #word {
    grid-template-columns: repeat(1, 1fr);
  }
}

#amis-moeditor h2.heteronym {
  color: #fff;
  background-color: hsl(200, 80%, 50%);
  border-width: 1px 0;
  margin: 1em -1em;
  padding: 1em;
}

#amis-moeditor h2.heteronym.grid {
  grid-template-columns: auto auto 1fr auto;
  align-items: center;
}

#amis-moeditor h2.heteronym.grid button.icon {
  margin: -1em;
}

#amis-moeditor h2.heteronym.grid button.deleteHeteronym {
  background-color: transparent;
  color: hsl(10, 20%, 100%);
  box-shadow: 0 0 0 1px hsl(10, 20%, 100%);
}

#amis-moeditor .definition .grid {
  grid-template-columns: auto auto 1fr auto;
  column-gap: 0;
}

#amis-moeditor .definition .grid button.deleteDefinition {
  background: transparent;
  box-shadow: 0 0 0 1px inset hsl(10, 50%, 80%);
  color: hsl(10, 50%, 60%);
}

#amis-moeditor .definitionItem .grid {
  border-left: 2px hsl(200, 20%, 80%) solid;
  margin-left: 0.5em;
  padding-left: 0.5em;
  border-width: 0 0 0 2px;
}

#amis-moeditor .definitionItem .grid button {
  align-self: flex-end;
  background: transparent;
  box-shadow: 0 0 0 1px inset hsl(10, 50%, 80%);
  color: hsl(10, 50%, 60%);
}

#amis-moeditor .addDefinitionItem {
  margin-left: 0.5em;
  padding-left: 0.5em;
}

#amis-moeditor .addDefinitionItem button {
  background: transparent;
  box-shadow: 0 0 0 1px inset hsl(80, 70%, 50%);
  color: hsl(80, 80%, 40%);
}

#amis-moeditor .example.grid {
  grid-template-columns: 1fr 1fr 1fr auto;
  background: none;
}

@media screen and (max-width: 480px) {
  #amis-moeditor .example.grid {
    grid-template-columns: 1fr;
  }
}

#amis-moeditor .reference.grid,
.synonym.grid {
  grid-template-columns: 1fr auto;
}

#amis-moeditor .addDefinition {
  background: transparent;
  box-shadow: 0 0 0 1px inset hsl(80, 70%, 50%);
  color: hsl(80, 80%, 40%);
}

#amis-moeditor footer {
  grid-template-columns: auto 1fr auto;
  border-top: 1px solid hsl(200, 50%, 80%);
  padding: 1em;
}

#amis-moeditor footer .submit,
#amis-moeditor footer .addHeteronym {
  font-size: 1em;
  padding: 0.7em 1em;
  background-color: hsl(200, 80%, 50%);
  color: hsl(200, 50%, 95%);
}
