.App header h1 {
  padding: 1rem;
  text-transform: capitalize;
  font-size: 1rem;
  text-align: center;
  border-bottom: 1px solid hsl(200, 50%, 80%);
}

.fields {
  background-color: hsl(50, 50%, 92.5%);
  padding: 1rem;
}

.grid {
  display: grid;
  column-gap: 1rem;
  row-gap: 0.5rem;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.required {
  position: relative;
}

.required:after {
  content: '*';
  color: hsl(0, 75%, 50%);
  position: absolute;
  right: -1em;
  top: calc(50% - 0.5em);
}

#word {
  grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 768px) {
  #word {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  #word {
    grid-template-columns: repeat(1, 1fr);
  }
}

h2.heteronym {
  color: #fff;
  background-color: hsl(200, 80%, 50%);
  border-width: 1px 0;
  margin: 1rem -1rem;
  padding: 1rem;
}

h2.heteronym.grid {
  grid-template-columns: auto auto 1fr auto;
  align-items: center;
}

h2.heteronym.grid button.icon {
  margin: -1rem;
}

h2.heteronym.grid button.deleteHeteronym {
  background-color: transparent;
  color: hsl(10, 20%, 100%);
  box-shadow: 0 0 0 1px hsl(10, 20%, 100%);
}

.definition .grid {
  grid-template-columns: auto auto 1fr auto;
  column-gap: 0;
}

.definition .grid button.deleteDefinition {
  background: transparent;
  box-shadow: 0 0 0 1px inset hsl(10, 50%, 80%);
  color: hsl(10, 50%, 60%);
}

.definitionItem .grid {
  border-left: 2px hsl(200, 20%, 80%) solid;
  margin-left: 0.5rem;
  padding-left: 0.5rem;
}

.definitionItem .grid button {
  align-self: flex-end;
  background: transparent;
  box-shadow: 0 0 0 1px inset hsl(10, 50%, 80%);
  color: hsl(10, 50%, 60%);
}

.addDefinitionItem {
  margin-left: 0.5rem;
  padding-left: 0.5rem;
}

.addDefinitionItem button {
  background: transparent;
  box-shadow: 0 0 0 1px inset hsl(80, 70%, 50%);
  color: hsl(80, 80%, 40%);
}

.example.grid {
  grid-template-columns: 1fr 1fr 1fr auto;
}

@media screen and (max-width: 480px) {
  .example.grid {
    grid-template-columns: 1fr;
  }
}

.reference.grid,
.synonym.grid {
  grid-template-columns: 1fr auto;
}

.addDefinition {
  background: transparent;
  box-shadow: 0 0 0 1px inset hsl(80, 70%, 50%);
  color: hsl(80, 80%, 40%);
}

.App footer {
  grid-template-columns: auto 1fr auto;
  border-top: 1px solid hsl(200, 50%, 80%);
  padding: 1rem;
}

.App footer .submit,
.App footer .addHeteronym {
  font-size: 1rem;
  padding: 0.7rem 1rem;
  background-color: hsl(200, 80%, 50%);
  color: hsl(200, 50%, 95%);
}
