body {
  margin: 0;
}

#root {
  background-color: hsl(50, 20%, 85%);
}

#amis-moeditor {
  font-size: 16px;
  --border-radius: 5px;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    Noto Sans CJK TC, Source Han Sans TW, Microsoft Jhenghei, '微軟正黑體',
    Source Han Sans, Heiti TC, '黑體-繁', Lihei Pro, '儷黑 Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: hsl(50, 20%, 30%);
  background-color: hsl(50, 20%, 85%);
}

#amis-moeditor code,
#amis-moeditor input {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#amis-moeditor label {
  opacity: 0.625;
}

#amis-moeditor label,
#amis-moeditor h1,
#amis-moeditor h2,
#amis-moeditor h3 {
  font-size: small;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.25em 0.5em;
  margin: 0;
  line-height: 1em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    Noto Sans CJK TC, Source Han Sans TW, Microsoft Jhenghei, '微軟正黑體',
    Source Han Sans, Heiti TC, '黑體-繁', Lihei Pro, '儷黑 Pro', sans-serif;
}

#amis-moeditor input,
#amis-moeditor button {
  border: none;
  border-radius: var(--border-radius);
  padding: 0.25em 0.5em;
  line-height: 1em;
}

#amis-moeditor input:disabled {
  background-color: hsl(50, 20%, 90%);
}

#amis-moeditor button {
  font-weight: bold;
  text-transform: capitalize;
  color: inherit;
  cursor: pointer;
  display: flex;
  align-items: center;
}

#amis-moeditor button svg {
  margin: 0 0.5em;
  background: none;
  border: none;
}

#amis-moeditor button svg:first-child {
  margin-left: 0;
}

#amis-moeditor button svg:last-child {
  margin-right: 0;
}

#amis-moeditor button.text {
  background: none;
  text-transform: inherit;
  padding: inherit;
}

#amis-moeditor hr {
  border: none;
  margin: 0.5em 0;
}
